
		<div class="content-box">
			<p class="headings">About us</p><br/>
			<div class="content">
			<p>Ceeq is acronym for Seek, or to search.</p><br/>
			<p>Ceeq is a open source mobile security application developed by R73 Labs, India. Ceeq features automatic backups, remote commands, auto/remote tracking, message commands, and more upcoming features.</p><br/>

			<p>The idea for Ceeq basically came from the fact that not everyone can pay for the best mobile security softwares, not everyone can pay for the monthly fee, and So, we developed Ceeq.</p><br/>

			<p>Ceeq has been a part of a scholarly project, and so it provided to you for free, so that you can enjoy our work and keep yourself secure.</p><br/>

			<p>Ceeq is still under development, so keep expecting more features, we are trying to develop the most powerful mobile security software.</p><br/>

			<p>Ceeq is FREE, always.</p><br/>
			
			</div>
		</div>