<div class="app-wp-img left">
            <img src="public/img/nexus5.png">
        </div>
        <div class="app-wp-inf left">
                <div class="app-wp-inf-top">
                    <ul >
                        <li>Let &apos;s Ceeq.</li>
                    </ul>
                </div>
                <div class="app-wp-down clear">

                <a class="link-nav down-nav" href="#/download">Download</a>
                <a class="link-nav play-nav" href="https://play.google.com/store/apps/details?id=in.ceeq">
                    <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
                </a>
                <a class="link-nav donate-nav" href="#/donate"> Donate</a>
                </div>
            </div>