<div class="row">
    <div class="col-md-3 col-xs-3 col-md-offset-3">
        <img class="img-responsive" src="public/img/nexus5.png">
    </div>
    <div class="col-md-6 col-xs-3">
        <div class="row">
            <div class="col-md-12 push-down">
                <h4 class="about">Let &apos;s Ceeq.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <a class="btn btn-success" href="#/download"><i class="glyphicon glyphicon-download"></i> Download</a>
            </div>
            <div class="col-md-3 col-xs-12">
                <a class="btn btn-default" href="#/donate"> Donate</a>
            </div>
        </div>
    </div>
</div>
        