<!DOCTYPE html >
<html lang="en" ng-app="Home" ng-controller="HomeController">
<head>

	<!-- Meta data -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta itemprop="name" content="">
  	<meta itemprop="description" content="">
  	<meta name="keywords" content="mobile, security, backup, open source">
  	<meta name="title" content="" >
	<meta name="subject" content="" >
	<meta name="robots" content="index,follow" >
	<meta content="Ceeq" name="author">
	<meta content="text ; still image" name="type">
	<meta content="text/html" name="format">
	<meta content="" name="identifier">
	<meta content="en-GB" name="language">
	<meta content="World" name="coverage">
	<meta content="" name="Owner">
	<meta content="ATW Labs, India" name="copyright">
	<base href="/ceeq/">

	<title ng-bind="title">Ceeq Mobile Application - Device Security &amp; Backup</title>

	<!-- Styles and fonts -->

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ siteUrl('/public/css/home.css') }}" >
	<link href='http://fonts.googleapis.com/css?family=Comfortaa|Roboto' rel='stylesheet' type='text/css'>

	<link rel="icon" type="image/png" href="">
	<script type="text/javascript">
    	(function () {
      		var po = document.createElement('script');
      		po.type = 'text/javascript';
      		po.async = true;
      		po.src = 'https://plus.google.com/js/client:plusone.js?onload=start';
      		var s = document.getElementsByTagName('script')[0];
      		s.parentNode.insertBefore(po, s);
    	})();
  	</script>
	</head>

	<!-- Content Body -->
	<body >
	<noscript>This is embarassing ! Javascript is OFF !</noscript>

	<!-- content wrapper -->
    <div class="container-fluid wrapper">

		<!-- Header bar -->
		<nav class="navbar navbar-default nav" role="navigation">

			<!-- Logo -->
			<div class="navbar-left">
				<a class="navbar-brand" href="#">ceeq</a>
			</div>
			<!-- User account -->
			<div class="account-wp hidden navbar-right">
                <ul>
                    <li class="name"></li>
                     <li>
                        <input type="submit" value="Logout" />
                    </li>
                </ul>
			</div>

			<!-- User login -->
			<div class="plus navbar-right">
				<div id="signinButton ">
				  	<span class="g-signin"
				    	data-scope="https://www.googleapis.com/auth/plus.login"
				    	data-clientid="YOUR_CLIENT_ID"
				    	data-redirecturi="postmessage"
				    	data-accesstype="offline"
				    	data-cookiepolicy="single_host_origin"
				    	data-callback="signInCallback">
				  	</span>
				</div>
				<div id="result"></div>
			</div>
		</nav>
