.container-fluid{
    background: #f5f5f5;
}

.nav{
    border-radius:0px;
    background: transparent;
    border-color: transparent;
    height:60px;
}

.navbar-brand{
    color:white !important;
    padding:0px 24px !important;
    font:bold 50px comfortaa;
    text-shadow:0px 0px 1px #c3c3c3;
    text-decoration:none;
}

.about{
    color: #3498db;
    font:60px comfortaa;
}

.push-down{
    margin-top:20%;
}

.plus{
    padding:24px;
}

.play {
    padding: 0px;
    margin-top: -2px;
}

footer {
  position:relative;
     background:#fff;
     color:#353535;
     clear:both;
     font: 15px roboto,arial, helvetica;
     padding:4px 24px;
     text-align: center;
     margin:0 auto;
     height:32px;
     box-shadow: inset 0px 1px 2px #d5d5d5;
     z-index:5;
}

footer span{
    padding:7px;
    cursor: default;
    position:relative;
}

footer img{
    position:relative;
    top:1px;
    max-width:24px;
    border-radius:2px;
}

.footer-nav{
    position:relative;
    margin-right:8px;
    padding:6px 2px;
    color:#454545;
}

.footer-nav a{
    padding:2px 4px;
    color:#3498db;
    text-decoration:none;
    border-radius:2px;
    margin:0px 2px;
}

.footer-nav img{
    background:none;
    padding:0px 4px;
}