<footer ng-controller="PageController">
			<!-- Scripts -->
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
			<script src="//public/scripts/responsiveslides.min.js"></script>

			<span class="left footer-nav">Developed in India</a></span>
			<span class="left footer-nav"><a href="http://github.com/rachitrm/ceeq"> Open source </a></span>
	 		<span class="left footer-nav">
	 			<a href="/about">About</a>
	 		</span>
	 		<span class="left footer-nav">
	 			<a href="/privacy">Privacy</a>
	 		</span>
	 		<span class="left footer-nav">
	 			<a href="/faqs">FAQs</a>
	 		</span>
	 		<span class="left footer-nav">
	 			<a href="/support">Support</a>
	 		</span>
	 		<span class="left footer-nav">
	 			<a href="/terms">Terms</a>
	 		</span>
			<span class="right footer-nav">An <a href="http://rachitmishra.com">R73</a> Project.</span></span>
			
			<!--<span>
				<a rel="license" href="http://creativecommons.org/licenses/by-nc/2.5/in/deed.en_GB">
					<img alt="Creative Commons Licence" 
						style="border-width:0" src="http://i.creativecommons.org/l/by-nc/2.5/in/88x31.png"/>
				</a></span>-->
			<span class="clear"></span>
		</footer>
	</div>
</body>
</html>