{% include='../common/view/header.twig' %}

<div class="content-wp">
		
			<div class="app-img-wp left">
				<img src="{{ public/images/mobile_bg.png }}">
			</div>
		
			<div class="app-detail-wp left">
				<div class="app-info-top">
					<ul class="slider">
						<li>Backups.</li>
						<li>Security.</li>
						<li>Opensource.</li>
						<li>and Free.</li>
						<li>That's Ceeq.</li>
					</ul>
				</div>
				
				<div class="app-download-wp clear">
					<a class="link_button download_link" href="/download">Download</a>
					<a class="link_button play_link" href="https://play.google.com/store/apps/details?id=in.ceeq">
						<img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
					</a>
					<a class="link_button donate_link" href="/donate"> Donate</a>
				</div>
			
			</div>
			<div class="spacer"></div>
		</div>
		
{% include='../common/view/footer.twig' %}
		