
		<div class="content-box">
			<p class="headings">Download Ceeq</p><br/>
			<p class="headings-content">Ceeq is in Beta testing, please submit your email address</p><br/>
			
			<?php echo form_open('download');?>
			<div class="download-box">
			<div class="error <?=$er?>">Sorry, the email address is either already registered or invalid !</div>
			<ul>
				<li>
					<label for="name">Email</label>
					<input class="inputs search ilogin" type="email" name="email" placeholder="Your email" title="Enter your email" required/>
				</li>
				<li><input class="submit" type="submit" value="Download" /></li>
				<li class="clear"></li>
				</ul>
				</div></form><br/>

			<p class="content">Or, click here to download from <a href="https://play.google.com/store/apps/details?id=in.ceeq">Google Play Store</a></p><br/>

		</div>