
		<div class="content-box">
			<p class="headings">Frequently asked questions</p><br/>
			<ul>
			<li class="questions">Why Ceeq doesn't has any antivirus feature ?</li>
    		<li class="content">Android is not prone to viruses, it is a bit prone to malwares but Google is taking care of that too. Don't worry, and ignore sofwares which say they save you from viruses.</li><br/>
			
			<li class="questions">Why enable GPS ?</li>
    		<li class="content">GPS is required for accuracy while getting the location of device, in distress situations or while using the application.</li><br/>
			<li class="questions">Why enable Device Administrator ?</li>
			    		<li class="content">Device administrator feature helps the application to wipe, lock your device remotely.</li><br/>
			<li class="questions">What are Remote Commands ?</li>
			<li class="content">Remote Commands are messages which you may send in case your device is lost. 
				<br/><br/> To use a remote command, type the remote command, followed by your pin ex. CEEQ LOCATE 000000. 
				<br/><br/> The main remote commands are 
				<br/>1. CEEQ ALARM : sounds a loud alarm on your mobile, 
				<br/>2. CEEQ LOCK : locks your device, 
				<br/>3. CEEQ ERASE : completely erases your device of any data, 
				<br/>4. CEEQ NOW : sends you the current sim number, imsi number and other mobile details, 
				<br/>5. CEEQ CALLS : sends you the last 10 called numbers, 
				<br/>6. CEEQ SPY : spies on the device location and calls and send them to you, 
				<br/>7. CEEQ LOCATE : sends you the last stored location, and any new location if location of mobile changes. 
				</li><br/>

			<li class="questions">Why so many permissions ?</li>
			    <li class="content">We have explained each and every permission <a href="<?php echo base_url('/permissions') ?>">here</a>. <br/>Still, in a one line, they are just required to give you more number of features.</li><br/>
			<li class="questions">What is Protect Me ?</li>
			    <li class="content">Protect me feature has been added for distress situations, just double tap power button and rapidly tap Home button to send an SOS message to your emergency contacts.<br/>The same message will be posted to your connected social accounts too.</li><br/>
			<li class="questions">What is Online Sync ?</li>
			    <li class="content">Online Sync, saves your backup data over Google Drive, which are used to restore data if in case you loose your phone or SD card.</li><br/>
			<li class="questions">What is One Click Backup</li>
			<li class="content">One click backup button simply backs up everything i.e contacts, messages, call logs, etc just by one click.</li><br/>
			<li class="questions">What is Stealth Mode ?</li>
			<li class="content">Stealth Mode hides the application icon &amp; its notifications.<br/>Don't worry you can still launch the application by dialing <a>*#*#2337#*#*</a>. Note, it won't stop the background processes such as auto backups, or device tracking.</li><br/>
			<li class="questions">What about my privacy & data ?</li>
			 <li class="content">This project has been developed for SCHOLARLY purposes, and it is being shared with you for FREE so that you can enjoy our work and your gadget is safe too.<br/>If you have any suggestions, or found bugs, any feedbacks, you can shout at us at <a href="mailto:support@ceeq.in">support@ceeq.in</a>.</li>
			</ul><br/><br/><br/>
			
		</div>
			