<div class="content-box">
	<p class="headings">Privacy policy</p><br/>
	<p class="content">This project has been developed for SCHOLARLY purposes, and it is being shared with you for FREE so that you can enjoy our work and your gadget is safe too.<br/>If you have any suggestions, or found bugs, any feedbacks, you can shout at us at <a href="mailto:support@ceeq.in">support@ceeq.in</a>.</p><br/>
	<p class="content">We highly respect our user's privacy, and we know how important your data is, so we will never collect any private data from you.</p><br/>
	<p class="content">Have further questions ?  Mail us at <a href="mailto:support@ceeq.in">support@ceeq.in</a> or submit your question <a href="#/privacy">here</a></p>
			