
		<div class="content-box">
			<p class="headings">Sponsor/Donate Ceeq</p><br/>

			<p class="content">You can also be a part of Ceeq. Just install, share or tweet for us. </p><br/>

			<p class="content">Send us an email at <a href="mailto:support@ceeq.in">support@ceeq.in</a>
				if you will love to be a sponsor of the project. You may also spread the news by tweeting or sharing Ceeq <a href="http://twitter.com/ceeqtweets">@ceeqtweets</a> &amp; at google at <a href="http://facebook.com/atwindia">@atwindia</a>.</p><br/>
			</div>