
		<div class="content-box">
			<p class="headings">Terms &amp; Conditions</p><br/>
			<p class="content">Ceeq is open source, so we take no liability for any loss to you or your device by installing Ceeq.</p><br/>

			<p class="content">We highly respect your privacy, and we know how important your data is, so we will never collect any private data from you.</p><br/>

			<p class="content">Any judicial matters will be subjected to Highcourt of Allahabad, India.</p><br/>

			<p class="content">Ceeq takes no liability for loss of data by misplaced passwords or pins.</p><br/>

			<p class="content">Any trademarks used are registered property of their organizations.</p><br/>

			<p class="content">At last, ignore everything, enjoy Ceeq, cause we are making the best security suite for you.</p><br/>

			<p class="content">Have further questions ?  Mail us at <a href="mailto:support@ceeq.in">support@ceeq.in</a> or submit your question <a href="<?php echo base_url('/support') ?>">here</a></p>
		</div>
			